[Desktop Entry]
Name[ca]=Gestor del porta-retalls
Name[en_AU]=Clipboard Manager
Name[en_CA]=Clipboard Manager
Name[en_GB]=Clipboard Manager
Name[es]=Gestor del portapapeles
Name[fr]=Gestionnaire de presse-papiers
Name[ja]=クリップボード マネージャー
Name[lt]=Iškarpinės tvarkytuvė
Name[pt_BR]=Gerente da Prancheta Virtual
Name=Clipboard Manager
Comment[ca]=Gestioneu i enganxeu l’historial del porta-retalls
Comment[en_AU]=Manage and paste clipboard history
Comment[en_CA]=Manage and paste clipboard history
Comment[en_GB]=Manage and paste clipboard history
Comment[es]=Gestione y pegue el historial del portapapeles
Comment[fr]=Gérez l'historique de votre presse-papiers
Comment[ja]=クリップボードの履歴を管理したり貼り付けたりします
Comment[lt]=Tvarkyti ir įdėti iškarpinės istoriją
Comment[pt_BR]=Gerencie e cole a história da sua prancheta virtual
Comment=Manage and paste clipboard history
Categories=Office;Utility;TextTools;
Exec=com.github.davidmhewitt.clipped
Icon=com.github.davidmhewitt.clipped
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=clipped
Keywords[ca]=Porta-retalls;Gestor;Historial;Copiar;Enganxar;
Keywords[en_AU]=Clipboard;Manager;History;Copy;Paste;
Keywords[en_CA]=Clipboard;Manager;History;Copy;Paste;
Keywords[en_GB]=Clipboard;Manager;History;Copy;Paste;
Keywords[es]=Portapapeles;Gestor;Historial;Copiar;Pegar;
Keywords[fr]=Presse-papiers;Gestionnaire;Historique;Copier;Coller;
Keywords[ja]=Clipboard;Manager;History;Copy;Paste;クリップボード;管理;マネージャー;履歴;コピー;貼り付け;ペースト;
Keywords[lt]=Iškarpinė;Tvarkytuvė;Istorija;Kopijuoti;Įdėti;
Keywords=Clipboard;Manager;History;Copy;Paste;
Actions=Preferences;
StartupWMClass=com.github.davidmhewitt.clipped

[Desktop Action Preferences]
Name[ca]=Preferències del Clipped
Name[en_AU]=Clipped Preferences
Name[en_CA]=Clipped Preferences
Name[en_GB]=Clipped Preferences
Name[es]=Preferencias de Clipped
Name[fr]=Préférences de Clipped
Name[ja]=Clipped の設定
Name[lt]=Clipped nuostatos
Name[pt_BR]=Preferências do Clipped
Name=Clipped Preferences
Exec=com.github.davidmhewitt.clipped --preferences
